.mainHome{
    // background-color: lightgray;
    // background-image: url('../../Images/photo-1489844097929-c8d5b91c456e.jpg');
  background-repeat: round; 
    border: none;
    // opacity: 0.6;
    text-align: center;
    -webkit-text-stroke-width: thick;
    background-size: cover;
    height: 100%;
    // background-repeat: round;
    // background-image: url('../../Images/sb-blog-programming.jpg');
}


.bgCard{
  height: 100%;
  width: auto;
  background-color:grey;
  border: none;
  justify-content: space-evenly;     
  background-color: transparent;

}

.card-title-colapse{
    background-color: red;
    text-decoration: red($color: #000000);;
}

.card-body{
  padding: 0px;
  display: contents;
  text-align: center;
}
.title{
  color: black;
  font-size: 3vw;
  align-items:center;
justify-content:center;
}


.bgimg {
    /* Background image */
    background-image: url('../../Images/sb-blog-programming.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }

  .middle {
    // position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  // .txtq{
  //   background-color: blue($color: #000000);
  // }
 
  
  