.fa-fa-github-custom{
    font-size:36px;
    color:#333;
}

.fa-fa-linkedin-square-custom{
    font-size:36px;
    color:#0e76a8;
}

.fa-fa-skype-custom{
    font-size:36px;
    color:#00aff0;
}

.fa-fa-phone-square-custom{
    font-size:36px;
    color:#333;
}
